/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
.env
.env.*
!.env.example

.idea
.vscode
.DS_Store